// base settings
$button__border-color:  '--darkened' !default;
$button__border-radius: $base__border-radius !default;
$button__border-style:  'solid' !default;
$button__border-width:  1px !default;
$button__font-size:     '1rem' !default;
$button__padding-x:     'sm' !default;
$button__padding-y:     '2xs' !default;
$button__transition:    'background' !default;

// large buttons
$button--large__padding-x: 'md' !default;
$button--large__padding-y: 'xs' !default;

// small buttons
$button--small__padding-x: 'xs' !default;
$button--small__padding-y: '3xs' !default;

// text buttons
$text-button__text-decoration:       'none' !default;
$text-button__hover-text-decoration: 'underline' !default;

@mixin button(
  // required arguments
  $background-color,
  $color,
  // optional arguments
  $border-color:    $button__border-color,
  $border-radius:   $button__border-radius,
  $border-style:    $button__border-style,
  $border-width:    $button__border-width,
  $display:         'inline-block',
  $font-size:       $button__font-size,
  $padding-x:       $button__padding-x,
  $padding-y:       $button__padding-y,
  $text-decoration: 'none',
  $transition:      $button__transition,
  $white-space:     'normal',
  $width:           'auto',
  // hover styles
  $hover-background-color: $background-color+'--'+$color+'ened',
  $hover-text-decoration:  'none'
){
  @extend %background-color__#{$background-color};
  @extend %border-color__#{$background-color}#{$border-color};
  @extend %border-radius__#{$border-radius};
  @extend %border-style__#{$border-style};
  @extend %border-width__#{$border-width};
  @extend %color__#{$color};
  @extend %cursor__pointer;
  @extend %display__#{$display};
  @extend %font-size__#{$font-size};
  @extend %padding-x__#{$padding-x};
  @extend %padding-y__#{$padding-y};
  @extend %text-align__center;
  @extend %text-decoration__#{$text-decoration};
  @extend %transition__#{$transition};
  @extend %white-space__#{$white-space};
  @extend %width__#{$width};

  &:hover:not([disabled="disabled"]) {
    @extend %background-color__#{$hover-background-color};
    @extend %text-decoration__#{$hover-text-decoration};
  }

  &[disabled="disabled"] {
    @extend %background-color__secondary;
    @extend %cursor__not-allowed;
  }

}
