%primary-button {
  @include button($background-color: 'primary', $color: 'white');
}

%secondary-button {
  @include button(
    $background-color:       'secondary',
    $color:                  'dark',
    $hover-background-color: 'secondary--darkened'
  );
}

%info-button {
  @include button($background-color: 'info', $color: 'white');
}

%success-button {
  @include button($background-color: 'success', $color: 'white');
}

%warning-button {
  @include button($background-color: 'warning', $color: 'white');
}

%danger-button {
  @include button($background-color: 'danger', $color: 'white');
}

%text-button {
  @include button(
    $background-color: 'transparent',
    $border-color:     '',
    $border-radius:    '0',
    $border-style:     'none',
    $border-width:     '0',
    $color:            'primary',
    $text-decoration:  $text-button__text-decoration,

    $hover-background-color: 'transparent',
    $hover-text-decoration:  $text-button__hover-text-decoration
  );
}

%stripped-button {
  @include button(
    $background-color: 'transparent',
    $border-color:     '',
    $border-radius:    '0',
    $border-style:     'none',
    $border-width:     '0',
    $color:            'primary',
    $padding-x:        '0',
    $padding-y:        '0',
    $text-decoration:  $stripped-button__text-decoration,

    $hover-background-color: 'transparent',
    $hover-text-decoration:  $stripped-button__hover-text-decoration
  );

  @extend %outline__none; // TODO make this part of the mixin
}
