%display__block {
  display: block;
}

%display__flex {
  display: flex;
}

%display__inherit {
  display: inherit;
}

%display__initial {
  display: initial;
}

%display__inline {
  display: inline;
}

%display__inline-block {
  display: inline-block;
}

%display__inline-flex {
  display: inline-flex;
}

%display__inline-table {
  display: inline-table;
}

%display__none {
  display: none;
}

%display__table {
  display: table;
}

%display__table-cell {
  display: table-cell;
}

%display__table-column {
  display: table-column;
}

%display__table-row {
  display: table-row;
}
