@include property-generator--placeholder('padding-bottom', $measures);

// Rems
%padding-bottom__4rem {
  padding-bottom: 4rem;
}

%padding-bottom__5rem {
  padding-bottom: 5rem;
}

// Pixels
%padding-bottom__5px {
  padding-bottom: 5px;
}
