%vertical-align__baseline {
  vertical-align: baseline;
}

%vertical-align__bottom {
  vertical-align: bottom;;
}

%vertical-align__middle {
  vertical-align: middle;
}

%vertical-align__top {
  vertical-align: top;
}
