@include property-generator--placeholder('margin-top', $measures);

%margin-top__auto {
  margin-top: auto;
}

// Ems
%margin-top__-0pt125em {
  margin-top: -.125em;
}

// Pixels
%margin-top__8px {
  margin-top: 8px;
}

%margin-top__10px {
  margin-top: 10px;
}

%margin-top__12px {
  margin-top: 12px;
}
