%margin-left__auto {
  margin-left: auto;
}

@include property-generator--placeholder('margin-left', $measures);

%margin-left__100pct {
  margin-left: 100%;
}

%margin-left__1px {
  margin-left: 1px;
}

%margin-left__12px {
  margin-left: 12px;
}
