%overflow-x__auto {
  overflow-x: auto;
}

%overflow-x__hidden {
  overflow-x: hidden;
}

%overflow-x__inherit {
  overflow-x: inherit;
}

%overflow-x__scroll {
  overflow-x: scroll;
}

%overflow-x__visible {
  overflow-x: visible;
}
