// base settings
$button__border: 'none' !default;
$button__border-radius: 0 !default;
$button__transition: 'background' !default;
$button__padding-x: 'sm' !default;
$button__padding-y: '2xs' !default;

// large buttons
$button--large__padding-x: 'md' !default;
$button--large__padding-y: 'xs' !default;

// text buttons
$text-button__text-decoration: 'none' !default;
$text-button__hover-text-decoration: 'underline' !default;

@mixin button(
  $background-color,
  $border: $button__border,
  $border-radius: $button__border-radius,
  $color,
  $display: 'inline-block',
  $padding-x: $button__padding-x,
  $padding-y: $button__padding-y,
  $text-decoration: 'none',
  $transition: $button__transition,
  $width: 'auto',
  // hover styles
  $hover-background-color: $background-color+'--'+$color+'ened',
  $hover-text-decoration: 'none'
){
  @extend %background-color__#{$background-color};
  @extend %border__#{$border};
  @extend %border-radius__#{$border-radius};
  @extend %color__#{$color};
  @extend %cursor__pointer;
  @extend %display__#{$display};
  @extend %padding-y__#{$padding-x};
  @extend %padding-x__#{$padding-y};
  @extend %text-align__center;
  @extend %text-decoration__#{$text-decoration};
  @extend %transition__#{$transition};
  @extend %width__#{$width};
  &:hover {
    @extend %background-color__#{$hover-background-color};
    @extend %text-decoration__#{$hover-text-decoration};
  }
}
