%opacity__0 {
  opacity: 0;
}

%opacity__0pt25 {
  opacity: 0.25;
}

%opacity_0pt5 {
  opacity: 0.5;
}

%opacity__0pt625 {
  opacity: 0.625;
}

%opacity__0pt75 {
  opacity: 0.75;
}

%opacity__0pt8 {
  opacity: 0.8;
}

%opacity__0pt875 {
  opacity: 0.875;
}

%opacity__1 {
  opacity: 1;
}
