%transition-property__background-color__color {
  transition-property: background-color, color;
}

%transition-property__border-color {
  transition-property: border-color;
}

%transition-property__color {
 transition-property: color;
}

%transition-property__opacity {
  transition-property: opacity;
}

%transition-property__color__opacity {
  transition-property: color, opacity;
}
