%align-items__baseline {
  align-items: baseline;
}

%align-items__center {
  align-items: center;
}

%align-items__flex-end {
  align-items: flex-end;
}

%align-items__flex-start {
  align-items: flex-start;
}

%align-items__inherit {
  align-items: inherit;
}

%align-items__initial {
  align-items: initial;
}

%align-items__stretch {
  align-items: stretch;
}
