%display__block {
  display: block;
}

%display__flex {
  display: flex;
}

%display__inline {
  display: inline;
}

%display__inline-block {
  display: inline-block;
}

%display__none {
  display: none;
}

%display__table {
  display: table;
}