%width__auto {
  width: auto;
}

/* percents */

%width__100pct {
  width: 100%;
}

/* rems */

%width__1pt4rem {
  width: 1.4rem;
}

%width__3rem {
  width: 3rem;
}

%width__4rem {
  width: 4rem;
}

%width__5rem {
  width: 5rem;
}

%width__10rem {
  width: 10rem;
}

%width__15rem {
  width: 15rem;
}

%width__30rem {
  width: 30rem;
}

/* pixels */

%width__1px {
  width: 1px;
}

%width__100px {
  width: 100px;
}

%width__480px {
  width: 480px;
}
