%word-break__break-all {
  word-break: break-all;
}

%word-break__break-word {
  word-break: break-word;
}

%word-break__inherit {
  word-break: inherit;
}

%word-break__initial {
  word-break: initial;
}

%word-break__keep-all {
  word-break: keep-all;
}

%word-break__normal {
  word-break: normal;
}
