%max-width__auto {
  max-width: auto;
}

%max-width__box-content-width {
  max-width: $box-content-width;
}

/* percents */

%max-width__50pct {
  max-width: 50%;
}

%max-width__100pct {
  max-width: 100%;
}

/* rems */

%max-width__10rem {
  max-width: 10rem;
}

%max-width__15rem {
  max-width: 15rem;
}

%max-width__20rem {
  max-width: 20rem;
}

%max-width__30rem {
  max-width: 30rem;
}

/* pixels */

%max-width__240px {
  max-width: 240px;
}

%max-width__320px {
  max-width: 320px;
}

%max-width__400px {
  max-width: 400px;
}

%max-width__480px {
  max-width: 480px;
}

%max-width__400px {
  max-width: 400px;
}
