@include property-generator--placeholder('width', $spacings);

%width__0 {
  width: 0;
}

%width__auto {
  width: auto;
}

// percents
%width__20pct {
  width: 20%;
}

%width__80pct {
  width: 80%;
}

%width__100pct {
  width: 100%;
}

// rems
%width__1rem {
  width: 1rem;
}

%width__1pt4rem {
  width: 1.4rem;
}

%width__3rem {
  width: 3rem;
}

%width__4rem {
  width: 4rem;
}

%width__5rem {
  width: 5rem;
}

%width__10rem {
  width: 10rem;
}

%width__15rem {
  width: 15rem;
}

%width__20rem {
  width: 20rem;
}

%width__30rem {
  width: 30rem;
}

// pixels
%width__1px {
  width: 1px;
}

%width__100px {
  width: 100px;
}

%width__480px {
  width: 480px;
}

%width__600px {
  width: 600px;
}

// vw
%width__100vw {
  width: 100vw;
}
