@include property-generator--placeholder('border-radius', $spacings);

%border-radius__base {
  @extend %border-radius__#{$base__border-radius};
}

%border-radius__0 {
  border-radius: 0;
}

%border-radius__2px {
  border-radius: 2px;
}

%border-radius__4px {
  border-radius: 4px;
}

%border-radius__50pct {
  border-radius: 50%;
}
