%border-style__base {
  border-style: $border-style__base; // TODO maybe this can extend one of below styles as the set is limited
}

%border-style__dashed {
  border-style: dashed;
}

%border-style__dotted {
  border-style: dotted;
}

%border-style__double {
  border-style: double;
}

%border-style__groove {
  border-style: groove;
}

%border-style__hidden {
  border-style: hidden;
}

%border-style__inset {
  border-style: inset;
}

%border-style__none {
  border-style: none;
}

%border-style__outset {
  border-style: inset;
}

%border-style__ridge {
  border-style: ridge;
}

%border-style__solid {
  border-style: solid;
}
