@include property-generator--placeholder('border-color', $colors);

%border-color__base {
  @extend %border-color__#{$border-color__base};
}

%border-color__transparent {
  border-color: transparent;
}

%border-color__rgba__0__0__0__0pt05 {
  border-color: rgba(0, 0, 0, 0.05);
}

%border-color__secondary__secondary__transparent__secondary {
  border-color: $color-secondary $color-secondary transparent $color-secondary;
}

%border-color__transparent__transparent__secondary__transparent {
  border-color: transparent transparent $color-secondary transparent;
}
