%border__base {
  // TODO make this dynamic with variables
  @extend %border__1px__solid__secondary;
}


%border__1px__solid__secondary {
  border: 1px solid $color-secondary;
}

%border__1px__solid__light {
  border: 1px solid $color-light;
}

%border__1px__solid__transparent {
  border: 1px solid transparent;
}

%border__none {
  border: none;
}
