%box-shadow__none {
  box-shadow: none;
}

%box-shadow__base {
  box-shadow: $box-shadow__base;
}

%box-shadow__inset__0__0__0__1000px__dark-transparent {
  box-shadow: inset 0 0 0 1000px rgba($color-dark, .25);
}

%box-shadow__inset__0__0__0__1000px__light-transparent {
  // TODO on normal images I have opacity which goes to white, not light
  box-shadow: inset 0 0 0 1000px rgba($color-light, .25);
}
