%box-sizing__border-box {
  box-sizing: border-box;
}

%box-sizing__content-box {
  box-sizing: content-box;
}

%box-sizing__padding-box {
  box-sizing: padding-box;
}

%box-sizing__inherit {
  box-sizing: inherit;
}
