@include property-generator--placeholder('line-height', $measures);

%line-height__base {
  @extend %line-height__#{$line-height__base};
}

%line-height__inherit {
  line-height: inherit;
}

%line-height__1 {
  line-height: 1;
}

%line-height__1pt125 {
  line-height: 1.125;
}

%line-height__1pt375 {
  line-height: 1.375;
}

%line-height__1pt4 {
  line-height: 1.4;
}

%line-height__1pt5 {
  line-height: 1.5;
}

%line-height__1pt65 {
  line-height: 1.65;
}

%line-height__1pt75 {
  line-height: 1.75;
}

%line-height__2 {
  line-height: 2;
}

%line-height__2pt5 {
  line-height: 2.5;
}

// Ems
%line-height__1em {
  line-height: 1em;
}

%line-height__1pt5em {
  line-height: 1.5em;
}


// Rems
%line-height__1rem {
  line-height: 1rem;
}

%line-height__1pt5rem {
  line-height: 1.5rem;
}
