%line-height__1 {
  line-height: 1;
}

%line-height__1pt5 {
  line-height: 1.5;
}

%line-height__2 {
  line-height: 2;
}

%line-height__2pt5 {
  line-height: 2.5;
}

%line-height__1rem {
  line-height: 1rem;
}

%line-height__1pt5rem {
  line-height: 1.5rem;
}

%line-height__inherit {
  line-height: inherit;
}
