$size-base: 10px;

$font-size-base: $size-base * 1.6;

$spacing-base: 1rem;

$box-content-width: 960px;
$small-screen: 600px;

$card-image-height: 240px;

$transition-duration-base: .1s;

$line-height-base: 1.5;
$line-height-heading: 1.25;

@import "variables/*";