%height__card-image-height {
  height: $card-image-height;
}

%cards {
  @extend %margin__-xs;
}

%card {
  @extend %margin__xs;
  @extend %display__inline-block;
  @extend %border__1px__solid__color-secondary;
  min-width: calc(100%/3 - #{$spacing-md});
  max-width: calc(100% - #{$spacing-md});
  width: calc((#{$small-screen} - 100vw) * #{$small-screen / 1px});
}

%card__image {
  @extend %width__100pct;
  @extend %display__block;
  @extend %height__card-image-height;
}

%card__body {
  @extend %padding__md;
  @extend %display__inline-block;
}

%simple-card {
  @extend %display__block;
  @extend %padding__md;
  @extend %width__100pct;
  @extend %border__1px__solid__color-secondary;
}