@include property-generator--placeholder('height', $measures);

%height__auto {
  height: auto;
}

// Percents
%height__100pct {
  height: 100%;
}

// Ems
%height__1em {
  height: 1em;
}

%height__1pt25em {
  height: 1.25em;
}

%height__1pt33em {
  height: 1.33em;
}

%height__1pt4em {
  height: 1.4em;
}

%height__1pt5em {
  height: 1.5em;
}

%height__2em {
  height: 2em;
}

%height__5em {
  height: 5em;
}

%height__15em {
  height: 15em;
}

// Rems
%height__1rem {
  height: 1rem;
}

%height__1pt2rem {
  height: 1.2rem;
}

%height__1pt4rem {
  height: 1.4rem;
}

%height__1pt5rem {
  height: 1.5rem;
}

%height__2rem {
  height: 2rem;
}

%height__3rem {
  height: 3rem;
}

%height__3pt5rem {
  height: 3.5rem;
}

%height__5rem {
  height: 5rem;
}

%height__6rem {
  height: 6rem;
}

%height__6pt75rem {
  height: 6.75rem;
}

%height__10rem {
  height: 10rem;
}

%height__15rem {
  height: 15rem;
}

// Pixels
%height__1px {
	height: 1px;
}

%height__36px {
  height: 36px;
}

%height__40px {
  height: 40px;
}

%height__50px {
  height: 50px;
}

%height__60px {
  height: 60px;
}

%height__75px {
  height: 75px;
}

%height__100px {
  height: 100px;
}

%height__120px {
  height: 120px;
}

%height__124px {
  height: 124px;
}

%height__126px {
  height: 126px;
}

%height__180px {
  height: 180px;
}

%height__240px {
  height: 240px;
}

%height__600px {
  height: 600px;
}

%height__800px {
  height: 800px;
}

// Viewport
%height__100vh {
  height: 100vh;
}
