@include property-generator--placeholder('height', $spacings);

%height__auto {
  height: auto;
}

// Percents
%height__100pct {
  height: 100%;
}

// Ems
%height__1pt5em {
  height: 1.5em;
}

// Rems
%height__1rem {
  height: 1rem;
}

%height__1pt2rem {
  height: 1.2rem;
}

%height__1pt4rem {
  height: 1.4rem;
}

%height__1pt5rem {
  height: 1.5rem;
}

%height__2rem {
  height: 2rem;
}

%height__5rem {
  height: 5rem;
}

%height__6rem {
  height: 6rem;
}

%height__10rem {
  height: 10rem;
}

%height__15rem {
  height: 15rem;
}

// Pixels
%height__1px {
	height: 1px;
}

%height__60px {
  height: 60px;
}

%height__100px {
  height: 100px;
}

%height__600px {
  height: 600px;
}

%height__800px {
  height: 800px;
}

// Viewport
%height__100vh {
  height: 100vh;
}
