%text-align__center {
  text-align: center;
}

%text-align__inherit {
  text-align: inherit;
}

%text-align__initial {
  text-align: initial;
}

%text-align__left {
  text-align: left;
}

%text-align__right {
  text-align: right;
}
