%text-transform__capitalize {
  text-transform: capitalize;
}

%text-transform__inherit {
  text-transform: inherit;
}

%text-transform__initial {
  text-transform: initial;
}

%text-transform__lowercase {
  text-transform: lowercase;
}

%text-transform__none {
  text-transform: none;
}

%text-transform__uppercase {
  text-transform: uppercase;
}
