@include property-generator--placeholder('background-color', $colors);
@include property-generator--placeholder('background-color', $colors--lightened);
@include property-generator--placeholder('background-color', $colors--darkened);

%background-color__inherit {
  background-color: inherit;
}

%background-color__transparent {
  background-color: transparent;
}

%background-color__white {
  background-color: #FFFFFF;
}