%flex-direction__column {
  flex-direction: column;
}

%flex-direction__column-reverse {
  flex-direction: column-reverse;;
}

%flex-direction__row {
  flex-direction: row;
}

%flex-direction__row-reverse {
  flex-direction: row-reverse;
}
