// Percents
%min-height__100pct {
  min-height: 100%;
}

// Ems
%min-height__2em {
  min-height: 2em;
}

%min-height__5em {
  min-height: 5em;
}


// Rems
%min-height__1rem {
  min-height: 1rem;
}

%min-height__2rem {
  min-height: 2rem;
}

%min-height__3rem {
  min-height: 3rem;
}

%min-height__4rem {
  min-height: 4rem;
}

%min-height__5rem {
  min-height: 5rem;
}

// Pixels
%min-height__126px {
  min-height: 126px;
}
