%min-height__100pct {
  min-height: 100%;
}

%min-height__2rem {
  min-height: 2rem;
}

%min-height__3rem {
  min-height: 3rem;
}

%min-height__4rem {
  min-height: 4rem;
}

%min-height__5rem {
  min-height: 5rem;
}
