%font-size__body {
  font-size: $font-size-body;
}

%font-size__html {
  font-size: $font-size-html;
}

%font-size__inherit {
  font-size: inherit;
}

%font-size__0pt75rem {
  font-size: 0.75rem;
}

%font-size__0pt875rem {
  font-size: 0.875rem;
}

%font-size__1rem {
  font-size: 1rem;
}

%font-size__1pt5rem {
  font-size: 1.5rem;
}

%font-size__2rem {
  font-size: 2rem;
}

%font-size__115pct {
  font-size: 115%;
}
