@include property-generator--placeholder('background-color', $colors);

%background-color__inherit {
  background-color: inherit;
}

%background-color__transparent {
  background-color: transparent;
}

%background-color__white {
  background-color: #FFFFFF;
}

%background-color__black {
  background-color: #000000;
}
