%overflow__auto {
  overflow: auto;
}

%overflow__hidden {
  overflow: hidden;
}

%overflow__inherit {
  overflow: inherit;
}

%overflow__scroll {
  overflow: scroll;
}

%overflow__visible {
  overflow: visible;
}
