%overflow-y__auto {
  overflow-y: auto;
}

%overflow-y__hidden {
  overflow-y: hidden;
}

%overflow-y__inherit {
  overflow-y: inherit;
}

%overflow-y__scroll {
  overflow-y: scroll;
}

%overflow-y__visible {
  overflow-y: visible;
}
