%align-content__center {
  align-content: center;
}

%align-content__flex-end {
  align-content: flex-end;
}

%align-content__flex-start {
  align-content: flex-start;
}

%align-content__inherit {
  align-content: inherit;
}

%align-content__initial {
  align-content: initial;
}

%align-content__space-around {
  align-content: space-around;
}

%align-content__space-between {
  align-content: space-between;
}

%align-content__stretch {
  align-content: stretch;
}
