%max-width__auto {
  max-width: auto;
}

%max-width__box-content-width {
  max-width: $box-content-width;
}

// Percents
%max-width__50pct {
  max-width: 50%;
}

%max-width__80pct {
  max-width: 80%;
}

%max-width__100pct {
  max-width: 100%;
}

// Ems
%max-width__10em {
  max-width: 10em;
}

%max-width__20em {
  max-width: 20em;
}

%max-width__30em {
  max-width: 30em;
}

// Rems
%max-width__4rem {
  max-width: 4rem;
}

%max-width__10rem {
  max-width: 10rem;
}

%max-width__15rem {
  max-width: 15rem;
}

%max-width__20rem {
  max-width: 20rem;
}

%max-width__30rem {
  max-width: 30rem;
}

// Pixels
%max-width__240px {
  max-width: 240px;
}

%max-width__320px {
  max-width: 320px;
}

%max-width__400px {
  max-width: 400px;
}

%max-width__480px {
  max-width: 480px;
}

%max-width__500px {
  max-width: 500px;
}

%max-width__600px {
  max-width: 600px;
}

%max-width__960px {
  max-width: 960px;
}

%max-width__1200px {
  max-width: 1200px;
}
