%align-self__auto {
  align-self: auto;
}

%align-self__baseline {
  align-self: baseline;
}

%align-self__center {
  align-self: center;
}

%align-self__flex-end {
  align-self: flex-end;
}

%align-self__flex-start {
  align-self: flex-start;
}

%align-self__inherit {
  align-self: inherit;
}

%align-self__initial {
  align-self: initial;
}

%align-self__stretch {
  align-self: stretch;
}
