@include property-generator--placeholder('top', $measures);
@include property-generator--placeholder('top', $measures, $negative: true);

%top__auto {
  top: auto;
}

// Percents
%top__40pct {
  top: 40%;
}

%top__42pt5pct {
  top: 42.5%;
}

%top__45pct {
  top: 45%;
}

%top__50pct {
  top: 50%;
}

%top__100pct {
  top: 100%;
}

// Rems
%top__1pt5rem {
  top: 1.5rem;
}

%top__2rem {
  top: 2rem;
}

// Pixels
%top__1px {
  top: 1px;
}

%top__2px {
  top: 2px;
}
