$color-lighten-percentage: 7.5%;
$color-darken-percentage: 7.5%;

$color-brand-1: #007723 !default; //TODO add some sane colors here
$color-brand-2: #007723 !default; //TODO
$color-brand-3: #007723 !default; //TODO
$color-brand-4: #007723 !default; //TODO

$color-primary: #265cad !default;
$color-secondary: #d3d4d9 !default;
$color-info: #5bc0eb !default;
$color-success: #7bc950 !default;
$color-warning: #ffd131 !default;
$color-danger: #e4572e !default;

$color-dark: #343434 !default;
$color-light: #f9f9f9 !default;

$colors: (
  brand-1: $color-brand-1,
  brand-2: $color-brand-2,
  brand-3: $color-brand-3,
  brand-4: $color-brand-4, 
  primary: $color-primary,
  secondary: $color-secondary,
  info: $color-info,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
  dark: $color-dark,
  light: $color-light
);

$colors--darkened: (
  brand-1--darkened: darken($color-brand-1, $color-darken-percentage),
  brand-2--darkened: darken($color-brand-2, $color-darken-percentage),
  brand-3--darkened: darken($color-brand-3, $color-darken-percentage),
  brand-4--darkened: darken($color-brand-4, $color-darken-percentage),
  primary--darkened: darken($color-primary, $color-darken-percentage),
  secondary--darkened: darken($color-secondary, $color-darken-percentage),
  info--darkened: darken($color-info, $color-darken-percentage),
  success--darkened: darken($color-success, $color-darken-percentage),
  warning--darkened: darken($color-warning, $color-darken-percentage),
  danger--darkened: darken($color-danger, $color-darken-percentage),
  dark--darkened: darken($color-dark, $color-darken-percentage),
  light--darkened: darken($color-light, $color-darken-percentage)
);

$colors--lightened: (
  brand-1--lightened: ($color-brand-1, $color-lighten-percentage),
  brand-2--lightened: lighten($color-brand-2, $color-lighten-percentage),
  brand-3--lightened: lighten($color-brand-3, $color-lighten-percentage),
  brand-4--lightened: lighten($color-brand-4, $color-lighten-percentage), 
  primary--lightened: lighten($color-primary, $color-lighten-percentage),
  secondary--lightened: lighten($color-secondary, $color-lighten-percentage),
  info--lightened: lighten($color-info, $color-lighten-percentage),
  success--lightened: lighten($color-success, $color-lighten-percentage),
  warning--lightened: lighten($color-warning, $color-lighten-percentage),
  danger--lightened: lighten($color-danger, $color-lighten-percentage),
  dark--lightened: lighten($color-dark, $color-lighten-percentage),
  light--lightened: lighten($color-light, $color-lighten-percentage)
);