$color-brand: #007723 !default;

$color-primary: #265cad !default;
$color-secondary: #d3d4d9 !default;
$color-info: #5bc0eb !default;
$color-success: #7bc950 !default;
$color-warning: #ffd131 !default;
$color-danger: #e4572e !default;

$color-dark: #343434 !default;
$color-light: #fffefc !default;

$colors: (
  primary: $color-primary,
  secondary: $color-secondary,
  info: $color-info,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
  dark: $color-dark,
  light: $color-light
);

$colors--lightened: (
  primary--lightened: lighten($color-primary, 7.5%),
  secondary--lightened: lighten($color-secondary, 7.5%),
  info--lightened: lighten($color-info, 7.5%),
  success--lightened: lighten($color-success, 7.5%),
  warning--lightened: lighten($color-warning, 7.5%),
  danger--lightened: lighten($color-danger, 7.5%),
  dark--lightened: lighten($color-dark, 7.5%),
  light--lightened: lighten($color-light, 7.5%)
);