$spacing-base: 1rem !default;

$spacing-xs: $spacing-base * 0.5 !default;
$spacing-sm: $spacing-base * 0.75 !default;
$spacing-md: $spacing-base * 1 !default;
$spacing-lg: $spacing-base * 2 !default;
$spacing-xl: $spacing-base * 3 !default;

$spacings: (
  0: 0,
  xs: $spacing-xs,
  sm: $spacing-sm,
  md: $spacing-md,
  lg: $spacing-lg,
  xl: $spacing-xl
);

$spacings--em: (
  0: 0,
  xs: $spacing-xs / 1rem + em,
  sm: $spacing-sm / 1rem + em,
  md: $spacing-md / 1rem + em,
  lg: $spacing-lg / 1rem + em,
  xl: $spacing-xl / 1rem + em
)