$border-radius__base:       0        !default;

$box-content-width:         960px    !default;
$small-screen:              600px    !default;

$card-image-height:         240px    !default;

$transition-duration__base: .1s      !default;

$line-height__base:         '1pt375' !default;
