$border-radius__base:       0                               !default;
$border__base:              1px solid #{ $color-secondary } !default;

$box-content-width:         960px                           !default;
$small-screen:              600px                           !default;

$card-image-height:         240px                           !default;

$transition-duration__base: .1s                             !default;

$line-height__base:         '1pt375'                        !default; // TODO it might be necessary to access numeric value
$line-height__base-value:   1.375                           !default; // of base line height. Need a more elegant way to handle this. Maybe parser that would substitute '.' with 'pt' if necessary
