$input__background-color: 'white'              !default;
$input__border-color:     'secondary'          !default;
$input__border-radius:    $border-radius__base !default;
$input__border-style:     'solid'              !default;
$input__border-width:     '1px'                !default;
$input__padding:          '2xs'                !default;

$textarea__resize:        'vertical'           !default;
