$color-base: #293132;
$color-brand: #65A1E7;

$color-primary: #65A1E7; //
$color-secondary: #E3E3E3; //
$color-info: #ACCEE9;
$color-success: #8CC739; //
$color-warning: #FFB400; //
$color-danger: #EA3635; //

$color-dark: #656565;
$color-darker: #2D2D2D;
$color-light: #F7F7F7;

$colors: (
  primary: $color-primary,
  secondary: $color-secondary,
  info: $color-info,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
  dark: $color-dark,
  darker: $color-darker,
  light: $color-light
);

$colors--lightened: (
  primary--lightened: lighten($color-primary, 7.5%),
  secondary--lightened: lighten($color-secondary, 7.5%),
  info--lightened: lighten($color-info, 7.5%),
  success--lightened: lighten($color-success, 7.5%),
  warning--lightened: lighten($color-warning, 7.5%),
  danger--lightened: lighten($color-danger, 7.5%),
  dark--lightened: lighten($color-dark, 7.5%),
  light--lightened: lighten($color-light, 7.5%)
);



