%font-weight__400 {
  font-weight: 400;
}

%font-weight__500 {
  font-weight: 500;
}

%font-weight__700 {
  font-weight: 700;
}

%font-weight__bold {
  font-weight: bold;
}

%font-weight__inherit {
  font-weight: inherit;
}

%font-weight__normal {
  font-weight: normal;
}
