%font-size__body {
  font-size: $font-size-body;
}

%font-size__html {
  font-size: $font-size-html;
}

%font-size__inherit {
  font-size: inherit;
}

// Rems
%font-size__0pt75rem {
  font-size: 0.75rem;
}

%font-size__0pt875rem {
  font-size: 0.875rem;
}

%font-size__1rem {
  font-size: 1rem;
}

%font-size__1pt4rem {
  font-size: 1.4rem;
}

%font-size__1pt5rem {
  font-size: 1.5rem;
}

%font-size__1pt6rem {
  font-size: 1.6rem;
}

%font-size__2rem {
  font-size: 2rem;
}

// Percents
%font-size__80pct {
  font-size: 80%;
}

%font-size__87pt5pct {
  font-size: 87.5%;
}

%font-size__115pct {
  font-size: 115%;
}

// Pixels
%font-size__12px {
  font-size: 12px;
}

%font-size__14px {
  font-size: 14px;
}

%font-size__16px {
  font-size: 16px;
}

%font-size__24px {
  font-size: 24px;
}

%font-size__32px {
  font-size: 32px;
}

%font-size__40px {
  font-size: 40px;
}

%font-size__48px {
  font-size: 48px;
}
